#body{
	background-color: #ebebeb;
}
.praise_bg>p{
	background-color: #878787;
	border-top-left-radius:1.25rem ;
	border-top-right-radius:1.25rem ;
	margin: 0;
}
.praise_bg>div{
	background-color: #FFFFFF;
	border-bottom-left-radius:1.25rem ;
	border-bottom-right-radius:1.25rem ;
	padding:1.5625rem;
}
.praise_bg>div img{
	border-radius: 50%;
}